<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style2.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
   
    <title>ProjetoLoginBBContaFinal2.0</title>

</head>
<body>
    <div class="auto">
        <div class="icon"><img src="https://img.ibxk.com.br/2015/1/programas/72479274.png" width="60px" height="60px"></div>
        <h1>Auto Atendimento</h1>
    </div>
    <div class="geral">
        <div class="txt">
            <h1>BEM - VINDO!!!!!</h1>


            <script>alert('<%= message %>')</script>