<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>ProjetoLoginBBContaFinal2.0</title>
    <!--CSS-->

    <!--Script-->
    <script>

    </script>
</head>

<body>
    <div class="auto">
        <div class="icon"><img src="https://img.ibxk.com.br/2015/1/programas/72479274.png" width="60px" height="60px"></div>
        <h1>Auto-Atendimento</h1>
    </div>
    <div class="caixa-login">
        <div class="container">
            <h1>Agência & Conta</h1>
            <h5 id='err' style="color: red;text-align: center;">
                <%= message %></h5>
        <form action="checado" method="POST">
            <label id="lagencia" for="agencia">Agência</label>
                <input type="text" id="agencia" name="agencia" required placeholder="Digite sua agência" autofocus>
            <label id="lconta" for="conta">Conta</label>
                <input type="text" name="conta" id="conta" required placeholder="Digite sua conta">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                <label class="custom-control-label" for="customSwitch1" aria-checked="true">Guardar agência e conta</label>
                </div>
                <button type="submit" class="btn btn-primary">Continuar</button>
                <a style="color: #0a39ab;margin-left: 50px;" id="link" href="/continuada">Outro tipo de acesso</a>
        </form>
        </div>
    </div>
    </div>
</body>

</html>